.jash 
{
    max-height: 100%;
    background-image: url(./Images/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    padding-bottom: 15rem;
    
        
}
.load
{
   text-align: center;
   margin-top: 20rem;
}

