.centre{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
    font-family:fantasy;
   
}
table
{
    
    padding:2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family:fantasy ; 

    
}

td,th{
    width:1rem;
    padding:0.2rem 0.2rem;
    border: 1px solid black;
    text-align: center;
};
