.link
{
    text-decoration: none;
    color:azure;
    width: 5rem;
    text-align: center;
    font-family:fantasy
}
.link:hover{
    color:black;
    background-color:azure;
    border-radius: 5px;
}

.link:focus
{

    color:black;
    background-color:azure; 
    border-radius: 5px;
}
.main
{
    text-decoration: none;
    width: 6rem;
    font-family:fantasy
}
