
  
  .item {
    transition: transform 500ms;
    width:15rem;
    font-family:fantasy;
    border:4px ridge;
    text-align: center;
   
  }
  
  .container:focus-within .item,
  .container:hover .item {
    transform: translateX(-25%);
  }
  
  .item:focus ~ .item,
  .item:hover ~ .item {
    transform: translateX(25%);
  }
  
  .container .item:focus,
  .container .item:hover {
    transform: scale(1.5);
    z-index: 1;
  }
  .item Card {
    display: block;
    max-width: 100%;
  }
.styleButton{
  border-radius: 4rem;
}
