a{
    text-decoration: none;
}
.FormStyle{
padding: 4rem;
width: 35rem;
height: 25rem;
background-color:white;
border-radius: 5rem;
}
.FormSignup{
    padding: 4rem;
    width: 45rem;
    height: 32rem;
    background-color:white;
    border-radius: 5rem;
    }
body{
    background-color:whitesmoke;
    font-family:fantasy
}
.box{
    border-radius: 5rem;
    border:2px ridge
}
.styleButton{
    border-radius: 4rem;
  }