.centre{
    text-align: center;
    margin:auto;
    
    
 }
 
 .Alldiv{
    text-align: center;
    margin-top: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
 }
.styleDiv{
padding: 4rem;
width: 25rem;
height: 15rem;
background-color:white;
border-radius: 5rem;
border:2px groove aqua;
}